<h1>Albums</h1>
<div class="albums-container">
  <div *ngFor="let album of albums">
    <app-album (albumOpening)="updateVisual($event)" [album]="album"></app-album>
  </div>
</div>
<div id = "add-albums">
  <app-create-albums (clicked)="addFolderClicked()"></app-create-albums>
  <img src="../../../assets/images/upload.png" (click)="addFileClicked()" alt="upload">
</div>
<div *ngIf="showFolderCreationDialog">
  <app-create-album [previousPath]="currentpath" (close)="closeFolderDialog($event)"></app-create-album>
</div>

<h1>Files</h1>
<div *ngFor="let file of files" (click) = "openDescription(file)" class = "files"> 
  <div class="file">
    <img src = "../../../assets/images/txt.png" *ngIf="file[1] == 'txt'" class="txt">
    
    <img src = "../../../assets/images/img.png" *ngIf="file[1] == 'jpg'" class="img">
    
    <img src = "../../../assets/images/img.png" *ngIf="file[1] == 'png'" class="img">
    <p>{{file[0]}}</p>
  </div>
</div>

<div class="file-information" *ngIf="showFileInformationDialog">
    <app-file (closing)="closeFileInformation()" [file]="selectedFile"></app-file>
</div>

<div class="file-upload" *ngIf="showUploadFileDialog">
  <div class="file-upload-dialog">
    <app-file-upload (closing)="closeFileUploadDialog($event)" [path]="currentpath"></app-file-upload>
  </div>
</div>

<div id="footer"></div>