<h1>Albums</h1>
<div class="albums-container">
  <div *ngFor="let album of albums">
    <app-album (deleted)="deleteAlbum(album)" (renamed)="rename($event, album)" (albumOpening)="changeFolder($event)" [album]="album"></app-album>
  </div>
</div>
<div id = "add-albums">
  <app-create-albums (clicked)="addFolderClicked()"></app-create-albums>
  <img src="../../../assets/images/upload.png" (click)="addFileClicked()" alt="upload">
</div>
<div *ngIf="showFolderCreationDialog">
  <app-create-album [previousPath]="currentpath" (close)="closeFolderDialog($event)"></app-create-album>
</div>

<h1>Files</h1>
<div *ngFor="let file of files" (click) = "openDescription(file)" class = "files"> 
  <div class="file"  *ngIf="file[1] == 'txt' || file[1] == 'png' || file[1] == 'jpg'">
    <img src = "../../../assets/images/txt.png" *ngIf="file[1] == 'txt'" class="txt">
    
    <img src = "../../../assets/images/img.png" *ngIf="file[1] == 'jpg'" class="img">
    
    <img src = "../../../assets/images/img.png" *ngIf="file[1] == 'png'" class="img">
    <p>{{file[0]}}</p>
  </div>

  <div class="file" *ngIf="file[1] != 'txt' && file[1] != 'png' && file[1] != 'jpg'">
    <img src = "../../../assets/images/file.png" class="img">
    <p>{{file[0]}}</p>
  </div>
</div>

<div class="file-information" *ngIf="showFileInformationDialog">
    <app-file (moved)="updateVisual(currentAlbum)" (movedToAlbum)="moveFile($event)" [path]="currentpath" (download)="download($event)" (closing)="closeFileInformation()" [file]="selectedFile"></app-file>
</div>

<div class="file-upload" *ngIf="showUploadFileDialog">
  <div class="file-upload-dialog">
    <app-file-upload (closing)="closeFileUploadDialog($event)" [path]="currentpath"></app-file-upload>
  </div>
</div>

<div class="close" *ngIf="showUploadFileDialog" (click) = "close()">
  <img src="../../../assets/images/close.png" alt="close">
</div>


<div id="footer"></div>

<div id="back" (click)="goBack()">
  <img src="../../../assets/images/back.png" alt="back">
</div>