<div class="main-container">
  <form
    class="form-container"
    [formGroup]="formGroup"
    (ngSubmit)="createAccount()"
  >
    <div class="table-layout">
      <div class="form-field-container">
        <label for="username">Username</label>
        <input type="text" name="username" formControlName="username" />
      </div>
      <div class="form-field-container">
        <label for="name">Name</label>
        <input type="text" name="name" formControlName="name" />
      </div>
      <div class="form-field-container">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" formControlName="lastname" />
      </div>
      <div class="form-field-container">
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" />
      </div>
      <div class="form-field-container">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" />
      </div>
    </div>
    <div class="buttons-layout">
      <button type="submit" class="submit-button">Create account</button>
      <p (click)="goToLoginPage()" class="go-back">Back to login</p>
    </div>
  </form>
</div>
