<nav *ngIf="isAuthenticated()" class="navbar">
  <div class="navbar-left">
    <a (click)="fetchUsers()" class="navbar-link">Fetch Users</a>
    <a (click)="goToAlbumsPage()" class="navbar-link">Albums</a>
    <a (click)="goToInviteFamilyMemberPage()" class="navbar-link"
      >Invite Family Member</a
    >
    <a (click)="goToVerifyFamilyMemberPage()" class="navbar-link"
      >Verify Family Members</a
    >
  </div>
  <div class="navbar-right">
    <a (click)="logOut()" class="navbar-link">Logout</a>
  </div>
</nav>
