<div>
  <div class="album-card">
    
    <div class="album-count" (click)="openAlbum()">Number of files: {{ album.numberOfFiles }}</div>
    <div class="album-details">
      <input (keyup.enter)="startSaving()" name = "name" id = "name" #name class="album-title" value="{{ album.name }}" disabled>
    </div>
  </div>
  <div class="file-actions">
    <i (click)="openShareAlbumForm()" class="fas fa-share"></i>
    <i (click)="openRemoveSharingAlbumForm()" class="fas fa-unlink"></i>
    <i (click)="rename(name)" class = "fas fa-edit"></i>
    <i (click)="deleteAlbum()" class="fas fa-trash"></i>
  </div>
</div>

<div *ngIf = "areYouSureDialog">
  <app-are-you-sure-dialog (no)="closeAreYouSureDialog()" (yes)="callbackFunction(name)"></app-are-you-sure-dialog>
</div>

<div *ngIf = "areYouSureDialogDelete">
  <app-are-you-sure-dialog (no)="closeAreYouSureDialog()" (yes)="callbackFunction()"></app-are-you-sure-dialog>
</div>

<div *ngIf="isShareFormDisplayed" style="margin-bottom: 10px">
  <form [formGroup]="shareFormGroup" (ngSubmit)="shareAlbum()">
    <input
      type="email"
      name="email"
      placeholder="Enter user email to add view rights"
      formControlName="email"
    />
    <button type="submit">Send</button>
    <button (click)="closeShareAlbumForm()">Close</button>
  </form>
</div>

<div *ngIf="isRemoveSharingFormDisplayed" style="margin-bottom: 10px">
  <form [formGroup]="removeSharingFormGroup" (ngSubmit)="removeAlbumSharing()">
    <input
      type="email"
      name="email"
      placeholder="Enter user email to remove share rights"
      formControlName="email"
    />
    <button type="submit">Send</button>
    <button (click)="closeRemoveSharingAlbumForm()">Close</button>
  </form>
</div>
