<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class = "container">
  <div class="file-card">
    <div class="file-details">
      <h3>{{ file.name }}</h3>
      <p>Type: {{ file.type }}</p>
      <p>Size: {{ file.size }} bytes</p>
      <p>Last Modified: {{ file.lastModifiedDate }}</p>
      <p>Creation date: {{ file.creationDate }}</p>
      <p>Description: {{ file.description }}</p>
      <p>Tags: {{ file.tags }}</p>
    </div>
    <div class="file-actions">
      <i *ngIf="!isReadOnly" (click)="openShareFileForm()" class="fas fa-share"></i>
      <i *ngIf="!isReadOnly" (click)="openRemoveSharingFileForm()" class="fas fa-unlink"></i>
      <i *ngIf="!isReadOnly" (click)="editFile()" class="fas fa-edit"></i>
      <i (click)="downloadFile()" class="fa fa-download"></i>
      <i *ngIf="!isReadOnly" (click)="openChangeAlbumForm()" class="fa fa-arrow-right"></i>
      <i *ngIf="!isReadOnly" (click)="openAreYouSureDialog()" class="fa fa-trash"></i>
    </div>
  </div>

  <div *ngIf="isShareFormDisplayed">
    <form [formGroup]="shareFormGroup" (ngSubmit)="shareFile()">
      <input
        type="email"
        name="email"
        placeholder="Enter user email to add view rights"
        formControlName="email"
      />
      <button type="submit">Send</button>
      <button (click)="closeShareFileForm()">Close</button>
    </form>
  </div>

  <div *ngIf="isRemoveSharingFormDisplayed" style="margin-top: 5px">
    <form [formGroup]="removeSharingFormGroup" (ngSubmit)="removeFileSharing()">
      <input
        type="email"
        name="email"
        placeholder="Enter user email to remove share rights"
        formControlName="email"
      />
      <button type="submit">Send</button>
      <button (click)="closeRemoveSharingFileForm()">Close</button>
    </form>
  </div>

  <div *ngIf="isEditFileDisplayed" id="edit-file">
    <app-edit-file [path]="path" (updatedFile)="updateFileValues($event)" [file]="file" (close)="closeEditFile($event)"></app-edit-file>
  </div>

  <div *ngIf="isChangeAlbumFromDisplayed" style="margin-top: 5px">
    <form [formGroup]="changeAlbumFormGroup" (ngSubmit)="changeAlbum()">
      <input
        type="text"
        placeholder="Enter album name"
        formControlName="albumName"
      />
      <button type="submit">Send</button>
      <button (click)="closeChangeAlbumForm()">Close</button>
    </form>
  </div>
</div>

<div class="are-you-sure" *ngIf = "isAreYouSureDialogDisplayed">
  <app-are-you-sure-dialog (no)="closeAreYouSureDialog()" (yes)="deleteFile()"></app-are-you-sure-dialog>
</div>

<div class="close" (click)="close()">
  <img src="../../../assets/images/close.png" alt="">
</div>